/web_parking/app/.env
/env
/web_parking/app/robocat-user-app-5d2b35bd5c22.json
/logs
/web_parking/app/client_secret.json
/web_patrol/versiolocal
/app/logs
/app/runs
/app/utils/secret.py
__pycache__/
*.pyc
/web_parking/app/__pycache__/
/web_parking/robocat.json
/web_parking/venv
/web_parking/=4.25.0
web_parking/app/robocat-demo-409e49897926.json