<!--
<footer class="footer footer-big footer-black">
        <div class="container">
            <div class="row">
                <div class="ml-auto mr-auto col-12">
                    <div class="row">

                    <div class="copyright row">
                        <div class="col-6 text-left">
                            ©
                            <script>
                                document.write(new Date().getFullYear())

                            </script>, JMWEB <span class="fas fa-credit-card"></span>
                        </div>
                        <div class="col-6 links text-right">
                            <ul>
                                <li>
                                    <a href="">
                                        Politica de Privacitat
                                    </a>
                                </li>
                                |
                                <li>
                                    <a href="">
                                        Condicions
                                    </a>
                                </li>
                                |
                                <li>
                                    <a href="">
                                        Privacitat
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>-->
    <!--   Core JS Files   -->
