
{% extends "base.html" %}
{% block title %}Inici{% endblock %}

{% block content %}
<!-- MAPA AMB BANNER PLE -->

<!-- CONTINGUT CENTRAT DINS CONTAINER -->
<div class="section" style="z-index: 2; position: relative;padding-top: 0px !important;">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-md-10 col-lg-8">
        <div class="card card-pricing" data-color="white">
          <div class="card-body">
            <div class="p-2">
              <a href="/parking" class="col-12 btn btn-neutral btn-round">Registrar Aparcament</a>
            </div>
            <div class="p-2">
              <a href="/historial" class="col-12 btn btn-neutral btn-round">Historial</a>
            </div>
            <div class="p-2">
              <a href="/cars" class="col-12 btn btn-neutral btn-round">Els Meus Cotxes</a>
            </div>
            <div class="p-2">
              <a href="/mapa" class="col-12 btn btn-neutral btn-round">Perfil</a>
            </div>
            <div class="p-2">
              <a href="/logout" class="col-12 btn btn-neutral btn-round">Sortir</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}